- var code = 404;
- var title = "Not Found!";
- var description = "The requested resource could not be found on this server";
- var enduserReasons = ['The URL is incorrect', 'The resource no longer exists'];
- var enduserAdvices = ['Use a valid and known link'];
- var professionalReasons = ['The endpoint does not exist', 'The route or resource is not defined'];
- var professionalAdvices = ['Target a valid endpoint', 'Use the current API documentation'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug