- var code = 408;
- var title = "Request Timeout!";
- var description = "The server timed out waiting for the request";
- var enduserReasons = ['The request took too long to send'];
- var enduserAdvices = ['Send the request within the allowed time'];
- var professionalReasons = ['The client delayed sending request headers or body'];
- var professionalAdvices = ['Send complete requests within the timeout period'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug