- var code = 420;
- var title = "Method Failure!";
- var description = "The requested method failed. Please ensure you are using the correct HTTP method.";
- var enduserReasons = ['The method used is not supported'];
- var enduserAdvices = ['Use the correct HTTP method as described in the documentation'];
- var professionalReasons = ['The HTTP method requested is not implemented or not valid'];
- var professionalAdvices = ['Review and use the correct HTTP methods for the server'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug