- var code = 407;
- var title = "Proxy Authentication Required!";
- var description = "Authentication is required by a proxy server";
- var enduserReasons = ['Access is blocked by a proxy requiring credentials'];
- var enduserAdvices = ['Authenticate with the network proxy'];
- var professionalReasons = ['The proxy server requires authentication headers'];
- var professionalAdvices = ['Provide valid credentials to the proxy server'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug