- var code = 424;
- var title = "Failed Dependency!";
- var description = "The request failed due to a failed previous request";
- var enduserReasons = ['A related action did not complete'];
- var enduserAdvices = ['Restart the operation sequence'];
- var professionalReasons = ['Dependent request failed'];
- var professionalAdvices = ['Handle dependencies before executing this request'];
include ../http-error.pug