- var code = 414;
- var title = "URI Too Long!";
- var description = "The URI is longer than the server can handle";
- var enduserReasons = ['The link is too long'];
- var enduserAdvices = ['Use shorter input or filters'];
- var professionalReasons = ['Query parameters are excessively long'];
- var professionalAdvices = ['Use POST requests for long input'];
include ../http-error.pug