- var code = 405;
- var title = "Method Not Allowed!";
- var description = "The request method is not supported for this resource";
- var enduserReasons = ['The operation is not allowed'];
- var enduserAdvices = ['Use supported actions for this interface'];
- var professionalReasons = ['The HTTP method is not enabled for this endpoint'];
- var professionalAdvices = ['Use an allowed HTTP verb such as GET or POST'];
include ../http-error.pug