- var code = 426;
- var title = "Upgrade Required!";
- var description = "The server requires the client to switch to a different protocol";
- var enduserReasons = ['The current method is outdated'];
- var enduserAdvices = ['Use a newer interface'];
- var professionalReasons = ['Protocol upgrade is required by the server'];
- var professionalAdvices = ['Switch to the required protocol such as TLS'];
include ../http-error.pug