- var code = 428;
- var title = "Precondition Required!";
- var description = "The server requires the request to be conditional";
- var enduserReasons = ['The action needs to meet certain conditions'];
- var enduserAdvices = ['Avoid concurrent edits'];
- var professionalReasons = ['Server requires conditional requests to prevent conflicts'];
- var professionalAdvices = ['Include precondition headers such as If-Match'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug