- var code = 410;
- var title = "Gone!";
- var description = "The requested resource is no longer available and will not be available again";
- var enduserReasons = ['The content has been permanently removed'];
- var enduserAdvices = ['Use current links or services'];
- var professionalReasons = ['The resource was intentionally removed', 'The endpoint is deprecated'];
- var professionalAdvices = ['Avoid targeting deprecated endpoints', 'Remove references to deleted resources'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug