- var code = 417;
- var title = "Expectation Failed!";
- var description = "The server could not meet the Expect header requirements";
- var enduserReasons = ['The request cannot be processed as expected'];
- var enduserAdvices = ['Avoid custom headers'];
- var professionalReasons = ['Expect header cannot be fulfilled by the server'];
- var professionalAdvices = ['Remove or adjust the Expect header'];
include ../http-error.pug