- var code = 425;
- var title = "Too Early!";
- var description = "The server is unwilling to risk processing a request that might be replayed";
- var enduserReasons = ['The action was sent too soon'];
- var enduserAdvices = ['Wait and retry the action later'];
- var professionalReasons = ['Replay protection is enabled and request is premature'];
- var professionalAdvices = ['Delay requests to meet timing expectations'];
include ../http-error.pug