- var code = 418;
- var title = "I'm a teapot!";
- var description = "The server refuses to brew coffee because it is a teapot";
- var enduserReasons = ['The request is humorous or non-standard'];
- var enduserAdvices = ['Use valid services only'];
- var professionalReasons = ['The endpoint returns 418 as a joke or placeholder'];
- var professionalAdvices = ['Avoid relying on non-standard HTTP status codes'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug