- var code = 421;
- var title = "Misdirected Request!";
- var description = "The request was directed at a server that is not able to produce a response";
- var enduserReasons = ['The service is unable to handle the request'];
- var enduserAdvices = ['Use a supported access method'];
- var professionalReasons = ['The server is not configured to respond to the request URI'];
- var professionalAdvices = ['Ensure requests are sent to the correct server endpoint'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug