- var code = 415;
- var title = "Unsupported Media Type!";
- var description = "The media type is not supported by the server";
- var enduserReasons = ['The uploaded file format is not allowed'];
- var enduserAdvices = ['Use a supported format like JPEG or PDF'];
- var professionalReasons = ['Content-Type is not recognized or accepted'];
- var professionalAdvices = ['Use supported media types as documented'];
include ../http-error.pug