- var code = 430;
- var title = "Request Header Fields Too Large!";
- var description = "The request headers are too large for the server to process";
- var enduserReasons = ['Too much metadata is included in the request'];
- var enduserAdvices = ['Simplify custom headers or cookies'];
- var professionalReasons = ['Request headers exceed server limits'];
- var professionalAdvices = ['Reduce header size or use smaller cookies'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug