- var code = 419;
- var title = "Authentication Timeout!";
- var description = "The request has expired due to the authentication timeout";
- var enduserReasons = ['The authentication session expired'];
- var enduserAdvices = ['Re-authenticate and try again'];
- var professionalReasons = ['Authentication credentials have timed out'];
- var professionalAdvices = ['Ensure proper handling of session timeouts'];
include ../http-error.pug