- var code = 406;
- var title = "Not Acceptable!";
- var description = "The server cannot return a response matching the list of acceptable values";
- var enduserReasons = ['The format requested is not supported'];
- var enduserAdvices = ['Use a supported format for responses'];
- var professionalReasons = ['The Accept header requests an unsupported content type'];
- var professionalAdvices = ['Use supported content types such as application/json'];
include ../http-error.pug