- var code = 422;
- var title = "Unprocessable Entity!";
- var description = "The request was well-formed but contains semantic errors";
- var enduserReasons = ['The input is not acceptable'];
- var enduserAdvices = ['Correct the data format or content'];
- var professionalReasons = ['Payload is syntactically valid but semantically incorrect'];
- var professionalAdvices = ['Validate input with business logic before submission'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug