// HTTP 402
- var code = 402;
- var title = "Payment Required!";
- var description = "Access to this resource requires payment";
- var enduserReasons = ['The resource requires a valid payment'];
- var enduserAdvices = ['Complete the payment process'];
- var professionalReasons = ['The request targets a paid service endpoint without valid billing'];
- var professionalAdvices = ['Include a valid billing token or license'];
- var img = "data-url:http-402.jpeg";
include ../http-error.pug