- var code = 416;
- var title = "Range Not Satisfiable!";
- var description = "The requested range is not available for the resource";
- var enduserReasons = ['The file range is invalid'];
- var enduserAdvices = ['Use available download options'];
- var professionalReasons = ['The Range header is out of bounds'];
- var professionalAdvices = ['Send byte ranges within the resource size'];
include ../http-error.pug