- var code = 411;
- var title = "Length Required!";
- var description = "The request did not specify the Content-Length";
- var enduserReasons = ['The client failed to send necessary metadata'];
- var enduserAdvices = ['Use an official client'];
- var professionalReasons = ['The Content-Length header is required but missing'];
- var professionalAdvices = ['Include Content-Length in requests with bodies'];
include ../http-error.pug