- var code = 413;
- var title = "Payload Too Large!";
- var description = "The request is larger than the server is willing to process";
- var enduserReasons = ['The uploaded file exceeds the size limit'];
- var enduserAdvices = ['Reduce the file size'];
- var professionalReasons = ['Payload exceeds maximum request body size'];
- var professionalAdvices = ['Use a smaller payload or enable chunked transfer'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug