- var code = 423;
- var title = "Locked!";
- var description = "The resource is currently locked";
- var enduserReasons = ['The content is locked'];
- var enduserAdvices = ['Wait for the operation to complete'];
- var professionalReasons = ['Resource is locked by another process'];
- var professionalAdvices = ['Retry after unlocking the resource'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug