- var code = 403;
- var title = "Forbidden!";
- var description = "Access to the requested resource is denied";
- var enduserReasons = ['Permissions are insufficient', 'Access is restricted'];
- var enduserAdvices = ['Access the service with a permitted account'];
- var professionalReasons = ['Access control rules prohibit the request', 'Authenticated user lacks the required role'];
- var professionalAdvices = ['Use credentials with appropriate access rights', 'Target a permitted endpoint'];
- var img = "data-url:http-4XX.jpeg";
include ../http-error.pug