- var code = 400;
- var title = "Bad Request!";
- var description = "The request is not formatted as expected by the server";
- var enduserReasons = ['The request is malformed', 'A required parameter is missing'];
- var enduserAdvices = ['Use the official interface', 'Follow the expected input format'];
- var professionalReasons = ['The payload does not match the expected schema', 'A required query or body parameter is missing'];
- var professionalAdvices = ['Provide all required fields in the correct structure', 'Respect the endpoint\'s input specification'];
include ../http-error.pug