- var code = 507;
- var title = "Insufficient Storage!";
- var description = "The server is unable to store the representation needed to complete the request";
- var enduserReasons = ['The service cannot store more data'];
- var enduserAdvices = ['Wait until capacity is restored'];
- var professionalReasons = ['The server\'s storage capacity is exceeded'];
- var professionalAdvices = ['Reduce request payload size or retry later'];
- var img = "data-url:http-5XX.jpeg";
include ../http-error.pug