- var code = 500;
- var title = "Internal Server Error!";
- var description = "The server encountered an internal error";
- var enduserReasons = ['The service failed to handle the request'];
- var enduserAdvices = ['Wait and retry later'];
- var professionalReasons = ['The server crashed while processing the request'];
- var professionalAdvices = ['Retry the same request after some time'];
- var img = "data-url:http-5XX.jpeg";
include ../http-error.pug