- var code = 501;
- var title = "Not Implemented!";
- var description = "The server does not recognize the request method";
- var enduserReasons = ['The feature is not available'];
- var enduserAdvices = ['Use supported actions only'];
- var professionalReasons = ['The HTTP method is not implemented on the server'];
- var professionalAdvices = ['Avoid unsupported methods such as PATCH if not documented'];
include ../http-error.pug