- var code = 505;
- var title = "HTTP Version Not Supported!";
- var description = "The server does not support the HTTP protocol version used in the request";
- var enduserReasons = ['The used client is outdated'];
- var enduserAdvices = ['Use an updated browser or tool'];
- var professionalReasons = ['The request uses an unsupported HTTP version'];
- var professionalAdvices = ['Use a supported HTTP version such as 1.1 or 2'];
- var img = "data-url:http-5XX.jpeg";
include ../http-error.pug