- var code = 510;
- var title = "Not Extended!";
- var description = "Further extensions to the request are required for the server to fulfill it";
- var enduserReasons = ['The request is missing required extensions'];
- var enduserAdvices = ['Use a compatible application'];
- var professionalReasons = ['Mandatory extension declarations are missing in the request'];
- var professionalAdvices = ['Include all required extension headers'];
include ../http-error.pug