- var code = 504;
- var title = "Gateway Timeout!";
- var description = "The server did not receive a timely response from an upstream server";
- var enduserReasons = ['The request took too long to process'];
- var enduserAdvices = ['Wait and retry later'];
- var professionalReasons = ['The upstream service did not respond in time'];
- var professionalAdvices = ['Increase timeout thresholds or optimize upstream response time'];
include ../http-error.pug