- var code = 506;
- var title = "Variant Also Negotiates!";
- var description = "The server configuration results in a circular reference during content negotiation";
- var enduserReasons = ['The request could not be processed'];
- var enduserAdvices = ['Wait or use another method'];
- var professionalReasons = ['Content negotiation configuration is incorrect'];
- var professionalAdvices = ['Avoid recursive negotiation variants'];
include ../http-error.pug