- var code = 508;
- var title = "Loop Detected!";
- var description = "The server detected an infinite loop while processing a request";
- var enduserReasons = ['The request was caught in a loop'];
- var enduserAdvices = ['Avoid repeating the same action'];
- var professionalReasons = ['An infinite loop occurred during WebDAV request processing'];
- var professionalAdvices = ['Prevent cyclic references in structured requests'];
include ../http-error.pug