- var code = 511;
- var title = "Network Authentication Required!";
- var description = "The client needs to authenticate to gain network access";
- var enduserReasons = ['Authentication is required before accessing the network'];
- var enduserAdvices = ['Authenticate via the network login portal'];
- var professionalReasons = ['Network access control requires authentication'];
- var professionalAdvices = ['Perform authentication with the captive portal before sending requests'];
include ../http-error.pug