- var code = 509;
- var title = "Bandwidth Limit Exceeded!";
- var description = "The server has exceeded the bandwidth limit assigned to it";
- var enduserReasons = ['The service has used more bandwidth than allowed'];
- var enduserAdvices = ['Try accessing the service after some time'];
- var professionalReasons = ['Hosting provider has throttled the server due to bandwidth overuse'];
- var professionalAdvices = ['Upgrade the hosting plan or optimize bandwidth usage'];
include ../http-error.pug