- var code = 503;
- var title = "Service Unavailable!";
- var description = "The server is currently unable to handle the request";
- var enduserReasons = ['The service is temporarily down'];
- var enduserAdvices = ['Wait and retry later'];
- var professionalReasons = ['The server is overloaded or under maintenance'];
- var professionalAdvices = ['Implement retries with exponential backoff'];
- var img = "data-url:http-5XX.jpeg";
include ../http-error.pug