- var code = 502;
- var title = "Bad Gateway!";
- var description = "The server received an invalid response from an upstream server";
- var enduserReasons = ['The service is temporarily unavailable'];
- var enduserAdvices = ['Wait before trying again'];
- var professionalReasons = ['The upstream server sent a malformed response'];
- var professionalAdvices = ['Ensure dependent services are reachable'];
- var img = "data-url:http-502.jpeg";
include ../http-error.pug