mixin HTTP506Icon()
    img(src="data-url:../icons/raw/twemoji--page-facing-up.svg", class="absolute top-0 bottom-0 left-0 right-0 m-auto h-[100%] w-[100%]", draggable="false")
    div(class="absolute left-[21%] top-[13%] text-xl font-bold text-black select-none") JPEG
    div(class="absolute left-[21%] top-[24%] text-xl font-bold text-black select-none") BMP
    div(class="absolute left-[21%] top-[35%] text-xl font-bold text-black select-none") GIF V1
    div(class="absolute left-[21%] top-[46%] text-xl font-bold text-black select-none") GIF V2
    div(class="absolute left-[21%] top-[57%] text-xl font-bold text-black select-none") PNG
    div(class="absolute left-[21%] top-[68%] text-xl font-bold text-black select-none") JFIF
    img(src="data-url:../icons/raw/twemoji--red-question-mark.svg", class="absolute top-[39%] right-[25%] m-auto h-[20%] w-[20%] rotate-35", draggable="false")