mixin HTTP404Icon()
    img(src="data-url:../icons/raw/twemoji--open-file-folder.svg", class="absolute top-0 left-0 h-[100%] w-[100%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--magnifying-glass-tilted-right.svg", class="absolute m-auto bottom-0 top-0 left-0 right-0 h-[50%] w-[50%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--red-question-mark.svg", class="absolute bottom-0 left-[5%] rotate-330 top-[12.5%] h-[30%] w-[30%]", draggable="false")