mixin HTTP4XXIcon()
    img(src="data-url:../icons/raw/twemoji--page-facing-up.svg", class="absolute top-0 left-0 h-full w-full", draggable="false")
    img(src="data-url:../icons/raw/twemoji--cross-mark.svg", class="absolute top-[23%] bottom-0 left-0 right-0 m-auto h-[40%] w-[40%]", draggable="false")