mixin HTTP505Icon()
    img(src="data-url:../icons/raw/twemoji--label.svg", class="absolute top-0 bottom-0 left-0 right-0 m-auto h-[100%] w-[100%]", draggable="false")
    div(class="absolute left-[23%] top-[49%] rotate-45 text-2xl font-extrabold text-black/80") HTTP/1.0
    img(src="data-url:../icons/raw/twemoji--cross-mark.svg", class="absolute m-auto bottom-[25%] left-[32%] h-[35%] w-[35%] rotate-45 opacity-80", draggable="false")
