mixin HTTP419Icon()
    img(src="data-url:../icons/raw/twemoji--identification-card.svg", class="absolute top-0 left-0 h-[100%] w-[85%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--hourglass-done.svg", class="absolute m-auto bottom-[7%] right-0 h-[40%] w-[40%]", draggable="false")