mixin HTTP429Icon()
    img(src="data-url:../icons/raw/twemoji--page-facing-up.svg", class="absolute left-0 m-auto top-0 h-[100%] w-[50%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--page-facing-up.svg", class="absolute left-[20%] m-auto top-[10%] h-[100%] w-[50%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--page-facing-up.svg", class="absolute left-[40%] m-auto top-[20%] h-[100%] w-[50%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--stop-sign.svg", class="absolute m-auto left-[60%] right-0 top-[60%] h-[40%] w-[40%]", draggable="false")
    div(class="absolute right-[7%] bottom-[14%] font-extrabold") STOP!