mixin HTTP403Icon()
    img(src="data-url:../icons/raw/twemoji--construction.svg", class="absolute top-0 left-0 h-[100%] w-[100%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--stop-sign.svg", class="absolute m-auto top-[5.5%] left-0 right-0 h-[50%] w-[50%]", draggable="false")