mixin HTTP4XXIcon()
    img(src="data-url:../icons/raw/fluent-color--document-16.svg", class="absolute top-0 left-0 h-full w-full", draggable="false")
    img(src="data-url:../icons/raw/fluent-color--dismiss-circle-16.svg", class="absolute bottom-0 right-0 h-3/6 w-3/6", draggable="false")