mixin HTTP5XXIcon()
    img(src="data-url:../icons/raw/twemoji--desktop-computer.svg", class="absolute top-0 bottom-0 left-0 right-0 m-auto h-[80%] w-[80%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--fire.svg", class="absolute m-auto top-[5.5%] left-0 right-0 h-[50%] w-[50%]", draggable="false")