mixin HTTP511Icon()
    img(src="data-url:../icons/raw/twemoji--globe-with-meridians.svg", class="absolute top-0 bottom-0 left-0 right-0 m-auto h-[100%] w-[100%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--identification-card.svg", class="absolute m-auto bottom-[2%] right-[0%] h-[45%] w-[45%]", draggable="false")