mixin HTTP405Icon()
    img(src="data-url:../icons/raw/twemoji--bullseye.svg", class="absolute top-0 left-0 h-[100%] w-[100%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--warning.svg", class="absolute m-auto bottom-0 top-0 left-[12.5%] h-[40%] w-[40%]", draggable="false")