mixin HTTP500Icon()
    img(src="data-url:../icons/raw/twemoji--gear.svg", class="absolute top-0 bottom-0 left-0 right-0 m-auto h-[100%] w-[100%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--cross-mark.svg", class="absolute m-auto bottom-[4%] right-[3%] h-[35%] w-[35%]", draggable="false")