mixin HTTP402Icon()
    img(src="data-url:../icons/raw/twemoji--credit-card.svg", class="absolute top-0 bottom-0 m-auto left-0 h-[77.5%] w-[77.5%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--warning.svg", class="absolute bottom-[2.5%] right-0 h-[50%] w-[50%]", draggable="false")