mixin HTTP401Icon()
    img(src="data-url:../icons/raw/fluent-color--contact-card-16.svg", class="absolute top-0 left-0 h-[100%] w-[95%]", draggable="false")
    img(src="data-url:../icons/raw/fluent-color--dismiss-circle-16.svg", class="absolute bottom-[2.5%] right-0 h-[50%] w-[50%]", draggable="false")