mixin HTTP414Icon()
    img(src="data-url:../icons/raw/twemoji--label.svg", class="absolute top-0 left-0 h-[100%] w-[80%] rotate-315", draggable="false")
    div(class="absolute top-[9%] bottom-0 left-[25%] h-fit m-auto font-extrabold text-2xl text-black/80") ABCDEFG...