mixin HTTP401Icon()
    img(src="data-url:../icons/raw/twemoji--identification-card.svg", class="absolute top-0 left-0 h-[100%] w-[89%]", draggable="false")
    img(src="data-url:../icons/raw/twemoji--red-question-mark.svg", class="absolute top-[33%] left-[4%] h-[35%] w-[35%] rotate-20", draggable="false")
    img(src="data-url:../icons/raw/twemoji--cross-mark.svg", class="absolute bottom-[12%] right-[0%] h-[30%] w-[30%]", draggable="false")