- var code = 401;
- var title = "Bad Request!";
- var description = "We're sorry, but the requested ressource is restricted and you are not allowed to access it. Try logging in and check your credentials.";
- var actionText = "Try again";
- var actionCode = "window.location.reload()";
- var img = "about:blank";

include error.pug