- var code = 401;
- var title = "Bad Request!";
- var description = "We're sorry, but your request is not formatted as the service would expect it. Try reloading the page and check if your request is in the correct format for this endpoint.";
- var actionText = "Try again";
- var actionCode = "window.location.reload()";
- var img = "data-url:401.jpeg";

include error.pug