- var code = 404;
- var title = "Ressource not found!";
- var description = "We're sorry, but the requested ressource was not found on the server. Try checking if your URL is correct and ensure that the ressource still exists.";
- var actionText = "Go Back";
- var actionCode = "window.history.back()";
- var img = "404.jpeg";

include error.pug