- var code = 502;
- var title = "Bad Gateway!";
- var description = "We're sorry, but the server for this service/endpoint is currently unavailable or not able to respond in time. Please try again later.";
- var actionText = "Try again";
- var actionCode = "window.location.reload()";
- var img = "data-url:502.jpeg";

include error.pug